/* frontend/src/App.css */

/* The main app container to fill the entire viewport height */
#root {
  height: 100vh;
}

/* This is a fallback to ensure the map container has a height */
.leaflet-container {
  height: 100%;
  width: 100%;
}